{{ 'modelmeals.js' | asset_url | script_tag }}

<div id="subscribed-order-form" style="display: none">


<!-- Modal -->
<div class="modal fade" id="modal-gallery" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal">×</button>
          <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->


<div class="container">
  <img class="center-block" src="//cdn.shopify.com/s/files/1/1182/1150/files/menu_fb348d82-a3a8-440a-8cbc-e61656153ac8_2048x2048.jpeg?16444708026538729962" alt="">
</div>


<!-- Package Options -->
<div class="container">

  <!-- if subscribed order -->
  {% if template == 'page.order-subscribed' and customer.metafields.subscriptions.customer_string %}
    {% assign myArray = "package-options|main-dish-options|side-dish-options" | split: "|" %}
  {% else %}
    {% assign myArray = "package-options|main-dish-options|side-dish-options|add-on-options" | split: "|" %}
  {% endif %}
  {% for myHandle in myArray %}
    {% assign collection = collections[myHandle] %}
    {% if collection.products_count > 0 %}
      <table class="table">
        <thead>
          <tr class="qty-row">
            <th colspan="2">
              <h1>
                {% if template == 'page.order-subscribed' and collection.handle == 'package-options' %}
                  SUBSCRIBED PACKAGES
                {% else %}
                  {{ collection.title }}
                {% endif %}
              </h1>
            </th>
            {% if collection.handle == 'package-options' %}
              <th colspan="2" class="price">Price</th>
              <th class="collection-qty">Qty</th>
            {% endif %}
          </tr>
          {% if collection.handle == 'main-dish-options' or collection.handle == 'side-dish-options' %}
            <tr>
              <th colspan="4" class="display" id="display-{{ collection.handle }}"></th>
            </tr>
          {% endif %}
        </thead>
        <tbody id="{{ collection.handle }}">
          {% for product in collection.products %}
            {% if product.available %}
              {% for variant in product.variants %}
                {% if variant.available %}
                  <tr>
                    {% if product.featured_image %}
                      <td class="table-img">
                        <a href="#image{{ product.id }}">
                          <img
                            src="{{ product.featured_image.src | product_img_url: 'thumb' }}"
                            id="image{{ product.id }}"
                            alt="{{ product.featured_image.alt | escape }}"
                            class="modal-img"
                            data-collectionid="{{ collection.id }}"
                          />
                        </a>
                      </td>
                    {% endif %}
                    <td colspan="{% if product.featured_image and product.price > 0 %}1{% elsif product.price > 0 %}2{% else %}4{% endif %}">
                      <a
                        href="#image{{ product.id }}"
                        class="modal-description"
                        data-title="{{ product.title }}"
                        data-description="{{ product.description | strip_html }}"
                      >
                       {{ product.title }}
                      </a>
                    </td>
                    {% if product.price > 0 %}
                      <td class="product-price" id="price{{ variant.id }}" colspan="{% if variant.metafields.subscriptions.discount_variant_id %}1{% else %}2{% endif %}">
                        {{ product.price | money }}
                      </td>
                    {% endif %}
                    {% if variant.metafields.subscriptions.discount_variant_id %}
                      <td>
                        <div class="subscribe-btn">
                          <button
                            type="button"
                            class="btn btn-default subscribe"
                            data-product="{{ product.id }}"
                            data-variant="{{ variant.id }}"
                            data-subscriptionvariant="{{ variant.metafields.subscriptions.discount_variant_id }}"
                            data-regularprice="{{ product.price }}"
                            data-subscriptionprice="{{ variant.metafields.subscriptions.discount_variant_price }}"
                          >Subscribe</button>
                        </div>
                      </td>
                    {% endif %}
                    <td class="table-inputs">
                      <div class="input-group order-form-inputs">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="{{ variant.id }}">
                            <span class="glyphicon glyphicon-minus"></span>
                          </button>
                        </span>
                        <input
                          type="number"
                          name="{{ variant.id }}"
                          class="form-control input-number text-center {{ collection.handle }}"
                          id="{{ variant.id }}"
                          data-collectionid = "{{ collection.id }}";
                          data-image="{{ product.featured_image.src | product_img_url: 'thumb' }}"
                          data-product="{{ product.title }}"
                          data-id="{{ variant.id }}"
                          data-subscribeid="{{ variant.metafields.subscriptions.discount_variant_id }}"
                          value=""
                        >
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="{{ variant.id }}">
                            <span class="glyphicon glyphicon-plus"></span>
                          </button>
                        </span>
                      </div>
                    </td>
                  </tr>
                  <!-- Image Repo -->
                  <div class="hidden" id="img-repo{{ collection.id }}" name="{{ product.id }}">
                    {% for image in product.images %}
                      <div class="item" id="image{{ product.id }}">
                        <img class="center-block img-responsive" title="{{ product.title }}" src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                      </div>
                    {% endfor %}
                  </div>
                  <!-- Image Repo End -->
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>There are no products in this view.</p>
    {% endif %}
  {% endfor %}


  <!-- Add to cart -->
  <div class="row">
    <div class="col-md-12">
      <div class="add-to-cart-button">
        <button class="btn btn-block add-to-cart-order-form" id="add-to-cart-order-form" disabled/>ADD TO CART</button>
      </div>
    </div>
  </div>
  <!-- Add to cart end -->
</div>
<!-- Package Options End -->


</div>
