<!-- Modal -->
<div class="modal fade" id="modal-gallery" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal">×</button>
          <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->

<!-- Menu -->
<div class="container">
  <img class="center-block" src="//cdn.shopify.com/s/files/1/1182/1150/files/menu_fb348d82-a3a8-440a-8cbc-e61656153ac8_2048x2048.jpeg?16444708026538729962" alt="">
</div>
<!-- Menu end -->


<!-- Package Options -->
<div class="container">

  <!-- Check if order page or order-packages page -->
  {% if template == 'page.order' %}
    {% assign myArray = "main-dish-options|side-dish-options|add-on-options" | split: "|" %}
  {% elsif template == 'page.order-packages' %}
    {% assign myArray = "package-options" | split: "|" %}
  {% endif %}


  {% for myHandle in myArray %}
    {% assign collection = collections[myHandle] %}
    {% paginate collection.products by 100 %}
    {% if collection.products_count > 0 %}
      <table class="table">
        <thead>
          <tr class="qty-row">
            <th colspan="2">
              <h1>
                {{ collection.title }}
              </h1>
            </th>
            {% if forloop.first == true %}
              <th colspan="2" class="price">Price</th>
              <th class="collection-qty">Qty</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for product in collection.products %}
            {% if product.available %}
              {% for variant in product.variants %}
                {% if variant.available %}
                  <tr>

                      <td class="table-img">
                        <a href="#image{{ product.id }}">
                          <img
                            src="{{ product.featured_image.src | product_img_url: 'thumb' }}"
                            id="image{{ product.id }}"
                            alt="{{ product.featured_image.alt | escape }}"
                            class="modal-img"
                            data-collectionid="{{ collection.id }}"
                          />
                        </a>
                      </td>

                    <td style="width: 535px">
                      <a
                        href="#image{{ product.id }}"
                        class="modal-description"
                        data-title="{{ product.title }}"
                        data-description="{{ product.description | strip_html }}"
                      >
                        {{ product.title }}
                        {% unless variant.title contains 'Default' %}
                          - {{ variant.title }}
                        {% endunless %}
                        {% unless variant.sku == '' %}
                          - {{ variant.sku }}
                        {% endunless %}
                      </a>
                    </td>
                    {% if product.price > 0 %}
                      <td class="product-price"
                        id="price{{ variant.id }}"
                        colspan="{% if variant.metafields.subscriptions.discount_variant_id %}1{% else %}2{% endif %}"
                        style="width: 190px"
                      >
                        {{ product.price | money }}
                      </td>
                    {% endif %}
                    {% if variant.metafields.subscriptions.discount_variant_id %}
                      <td>
                        <div class="subscribe-btn">
                          <button
                            type="button"
                            class="btn btn-default subscribe"
                            data-product="{{ product.id }}"
                            data-variant="{{ variant.id }}"
                            data-subscriptionvariant="{{ variant.metafields.subscriptions.discount_variant_id }}"
                            data-regularprice="{{ product.price }}"
                            data-subscriptionprice="{{ variant.metafields.subscriptions.discount_variant_price }}"
                          >Subscribe</button>
                        </div>
                      </td>
                    {% endif %}
                    <td class="table-inputs">
                      <div class="input-group order-form-inputs">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="{{ variant.id }}">
                            <span class="glyphicon glyphicon-minus"></span>
                          </button>
                        </span>
                        <input
                          type="number"
                          name="{{ variant.id }}"
                          class="form-control input-number text-center {{ collection.handle }}"
                          id="{{ variant.id }}"
                          data-collectionid = "{{ collection.id }}";
                          data-image="{{ product.featured_image.src | product_img_url: 'thumb' }}"
                          data-product="{{ product.title }}"
                          data-id="{{ variant.id }}"
                          data-subscribeid="{{ variant.metafields.subscriptions.discount_variant_id }}"
                          min = "0"
                          {% unless item.variant.inventory_management == blank or item.variant.inventory_policy == 'continue' %}
                            {% assign max = variant.inventory_quantity %}
                            {% for item in cart.items %}
                              {% if item.id == variant.id %}
                                {% assign max = max | minus: item.quantity %}
                              {% endif %}
                            {% endfor %}
                            max="{{ max }}"
                          {% endunless %}
                          value=""
                        >
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="{{ variant.id }}">
                            <span class="glyphicon glyphicon-plus"></span>
                          </button>
                        </span>
                      </div>
                    </td>
                  </tr>

                  <!-- Image Repo -->
                  <div class="hidden" id="img-repo{{ collection.id }}" name="{{ product.id }}">
                    {% for image in product.images %}
                      <div class="item" id="image{{ product.id }}">
                        <img class="center-block img-responsive" title="{{ product.title }}" src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                      </div>
                    {% endfor %}
                  </div>
                  <!-- Image Repo End -->

                {% endif %} <!-- if variant.available end -->
              {% endfor %} <!-- for variant in product.variants end -->
            {% endif %} <!-- if product.available end -->
          {% endfor %} <!-- for product in collection.products end -->
        </tbody>
      </table>
    {% else %}
      <p>There are no products in this view.</p>
    {% endif %} <!-- if collection.products_count > 0 -->
    {% endpaginate %}
  {% endfor %} <!-- for myHandle in myArray -->


  <!-- Add to cart -->
  <div class="row">
    <div class="col-md-12">
      <div class="add-to-cart-button">
        <button class="btn btn-block add-to-cart-order-form" id="add-to-cart-order-form">ADD TO CART</button>
      </div>
    </div>
  </div>
  <!-- Add to cart end -->
</div>
<!-- Package Options End -->


{{ 'modelmeals2.js' | asset_url | script_tag }}
